<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='TeleTok - Bienvenido')"></head>
<body>
<div class="container container-app">
    <div th:replace="fragments/header.html :: header"></div>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success mt-3" role="alert"></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 card-app">
        <div class="col mb-4">

        </div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>